.App {
  text-align: center;
}
a {
  text-decoration: none;
  color: blueviolet;
}
a.selected {
  text-decoration: overline;
  font-size: large;
}
li.mainMenu {
  text-decoration: none;
  display: inline-block;
  margin: 20px;
}
