* {
  box-sizing: border-box;
}

a {
  color: red;
  border-bottom: 1px solid blue;
}

h1 {
  font-size: 5rem;
  color: dodgerblue;
}

p {
  font-size: 2rem;
  color: teal;
  font-weight: 700;
}

button {
  background: transparent;
  font-size: 2rem;
  color: #000;
  border: 2px solid #000000;
  padding: 1rem 2rem;
  outline: none;
}
button:hover {
  background-color: #000;
  color: #fff;
  border: none;
}
